.edit-Invoice {
    bottom: 1px;
    position: relative;
    right: 13%
}
.edit-Invoices {
    position: relative;
    right: 7%;
    top: -2px;
}
.edit-invoice-date {
    top: 2px;
    position: relative;
}
.custom-down {
    font-size: 12px;
}