.otp-pass input[type=text], input[type=password] {
    border: none;
    caret-color: transparent;
}
.copy-txt input[type=text], input[type=password] {
    border: none;
    caret-color: transparent;
}
.input-link {
    width: 270px;
}