.progress .progress-bar .bg-gradient-success {
    width: 25% !important;
}
.crms-task-item.active .accordion-body {
	display: block;
}
.modal-page-datepicker {
	position: relative;
	bottom: 43px;
	left: 329px;
}
