.invoices-datepicker {
    bottom: 42px;
    position: relative;
    left: 65%;
  }
.invoice-feather {
    font-size: 20px;
    top: 3px;
    position: relative;
  }
  .custom-feather-icon {
    font-size: 18px;
  }
