<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="crms-title row bg-white mb-4">
            <div class="col">
                <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white me-2">
                  <i class="la la-table"></i>
                </span> <span>Ribbon</span></h3>
            </div>
            <div class="col text-end">
                <ul class="breadcrumb bg-white float-end m-0 ps-0 pe-0">
                    <li class="breadcrumb-item"><a [routerLink]="routes.dealsDashboard">Dashboard</a></li>
                    <li class="breadcrumb-item active">Ribbon</li>
                </ul>
            </div>
        </div>
        
        <div class="row">
					
            <!-- Ribbon -->
            <div class="col-md-4 col-sm-6">	
                <div class="ribbon-wrapper card">
                    <div class="card-body">
                        <div class="ribbon ribbon-primary">Ribbon</div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
            </div>
            <!-- /Ribbon -->
            
            <!-- Ribbon -->
            <div class="col-md-4 col-sm-6">	
                <div class="ribbon-wrapper card">
                    <div class="card-body">
                        <div class="ribbon ribbon-secondary">Ribbon</div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
            </div>
            <!-- /Ribbon -->
            
            <!-- Ribbon -->
            <div class="col-md-4 col-sm-6">	
                <div class="ribbon-wrapper card">
                    <div class="card-body">
                        <div class="ribbon ribbon-success">Ribbon</div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
            </div>
            <!-- /Ribbon -->
            
            <!-- Ribbon -->
            <div class="col-md-4 col-sm-6">	
                <div class="ribbon-wrapper card">
                    <div class="card-body">
                        <div class="ribbon ribbon-primary ribbon-right">Ribbon</div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
            </div>
            <!-- /Ribbon -->
            
            <!-- Ribbon -->
            <div class="col-md-4 col-sm-6">	
                <div class="ribbon-wrapper card">
                    <div class="card-body">
                        <div class="ribbon ribbon-secondary  ribbon-right">Ribbon</div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
            </div>
            <!-- /Ribbon -->
            
            <!-- Ribbon -->
            <div class="col-md-4 col-sm-6">	
                <div class="ribbon-wrapper card">
                    <div class="card-body">
                        <div class="ribbon ribbon-success ribbon-right">Ribbon</div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
            </div>
            <!-- /Ribbon -->
            
            <!-- Ribbon -->
            <div class="col-md-4 col-sm-6">	
                <div class="ribbon-vertical-left-wrapper card">
                    <div class="card-body">
                        <div class="ribbon ribbon-primary ribbon-vertical-left"><i class="fa fa-gift"></i></div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
            </div>
            <!-- /Ribbon -->
            
            <!-- Ribbon -->
            <div class="col-md-4 col-sm-6">	
                <div class="ribbon-vertical-left-wrapper card">
                    <div class="card-body">
                        <div class="ribbon ribbon-secondary  ribbon-vertical-left"><i class="fa fa-gift"></i></div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
            </div>
            <!-- /Ribbon -->
            
            <!-- Ribbon -->
            <div class="col-md-4 col-sm-6">	
                <div class="ribbon-vertical-left-wrapper card">
                    <div class="card-body">
                        <div class="ribbon ribbon-success ribbon-vertical-left"><i class="fa fa-gift"></i></div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
            </div>
            <!-- /Ribbon -->
            
            <!-- Ribbon -->
            <div class="col-md-4 col-sm-6">	
                <div class="ribbon-vertical-right-wrapper card">
                    <div class="card-body">
                        <div class="ribbon ribbon-primary ribbon-vertical-right"><i class="fa fa-gift"></i></div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
            </div>
            <!-- /Ribbon -->
            
            <!-- Ribbon -->
            <div class="col-md-4 col-sm-6">	
                <div class="ribbon-vertical-right-wrapper card">
                    <div class="card-body">
                        <div class="ribbon ribbon-secondary  ribbon-vertical-right"><i class="fa fa-gift"></i></div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
            </div>
            <!-- /Ribbon -->
            
            <!-- Ribbon -->
            <div class="col-md-4 col-sm-6">	
                <div class="ribbon-vertical-right-wrapper card">
                    <div class="card-body">
                        <div class="ribbon ribbon-success ribbon-vertical-right"><i class="fa fa-gift"></i></div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
            </div>
            <!-- /Ribbon -->
                
        </div>
    
    </div>


    
</div>