.invoice-feather {
    font-size: 20px;
    top: 3px;
    position: relative;
}
.invoices-datepicker {
    bottom: 42px;
    position: relative;
    left: 65%;
  }
  .custom-fa {
    font-size: 16px;
    font-weight: 900;
  }
  .custom-feather-icon {
    font-size: 18px;
  }